/* https://github.com/gdfox/MySword-Pastel-Blue-Theme */

body{color:#000000;background-color:#ffffff;padding:14 1 0 2;line-height:150%;}
a {color:#4F77AA; text-decoration:none;}
h1, h1 a{font-style:Bold; color:#4F77AA; font-size:18px; text-transform:uppercase; font-variant:small-caps; letter-spacing:3; border-bottom:1px dotted;padding:0 0 14 0;margin:15 0 10 0;text-align:center}
h1 a{text-decoration:none;border:0px}
h1 a i{text-transform:lowercase; font-variant:normal}
h2{color:#78AED3}
h3{color:#AAC9DD}
h4{color:#C1E3ED}
h5{color:#D2E1E6}
h6{color:#505}
strong.searchkey{background-color:#D2E1E6}/*Search Highlight*/
.searchlink{color:#4F77AA;text-transform:uppercase;letter-spacing:0.04em;}
.verno{color:#000;text-decoration:none;font-size:85%;vertical-align:super;line-height:5px; border:0px;padding:0;}
.strong{color:#03f;border:0px;padding:0;font-size:85%;line-height:150%;font-family:Verlag Bold; letter-spacing:0.04em;}
.morph{color:#073}
.ref{color:#4F77AA;font-size:85%;vertical-align:super;}
.xref{color:#4F77AA;letter-spacing:0.04em;font-size:75%;vertical-align:super;text-decoration:none;}
.abbr{color:#000}
.h1{background-color:#ffc8c8;}
.h2{background-color:#ffd9a8;}
.h3{background-color:#fff8a8;}
.h4{background-color:#d8ffa8;}
.h5{background-color:#baffba;}
.h6{background-color:#c9f9ff;}
.h7{background-color:#c9d8ff;}
.h8{background-color:#d0c9ff;}
.h9{background-color:#e0c9ff;}
.h10{background-color:#fcc9ff;}
.current{background-color:#D2E1E6}
.red{color:#900}
.orange{color:#e67e00;}
.brown{color:#934a15;}
.yellow{color:#cccc00;}
.yellowgreen{color:#6c9023;}
.green{color:#008000;}
.bluegreen{color:#338b8b;}
.blue{color:#0000cc;}
.violet{color:#9400d3;}
.purple{color:#800080;}
.pink{color:#ff1493;}
.gray{color:#808080;}
.tag{color:#D2E1E6;background-color:#AAC9DD;border-color:#4F77AA;}
.tag a{color:#D2E1E6;}
a img.icon{border-color:#D2E1E6;}
.parallel,.parallel td,.parallel th{border-style:solid;border-width:1px;border-color:#C1E3ED}
.phead{background-color:#78AED3}
.trans{color:#900;}
.eng{color:#808080;}
.splitactive{color:#000;background-color:#78AED3}.splitinactive{color:#4F77AA;background-color:#AAC9DD}
.ot{}#content{padding:1px 8px}body{margin:0}.hebrew{color:#000000;}
.ot{}.comframe{color:#000000;background-color:#AAC9DD;border-color:#4F77AA}
.greek{color:#000000;}
.comframe{color:#000000;background-color:#AAC9DD;border-color:#4F77AA}
.comframe a{color:#66b;}
.wjc{color:#900}
.add{font-style:italic;}
